
form{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    width: 400px;
    max-width: 500px;
    height: auto;
    padding: 20px 15px;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    border:none ;
    border-radius: 15px;
    background-color: #F5F5F5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    font-weight: 700;

}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: large;
}


input[type="email"],
input[type="password"],
input[type="text"]{
    border: none;
    background-color:#fff ;
    outline: 0;
    height: 100%;
    padding: 6px 3px;
    flex: 2;
    
   
}

.input-container{
    display: flex;
    justify-content: space-between;
    border: solid 2px #e0e0e0;
    width: 100%;
    box-sizing: border-box;
    margin: 7px 0;
    border-radius: 5px;
    transition: border-color 0.3s;
    outline: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    box-sizing: border-box;
}

.input-container div{
    display: flex;
    justify-content: right;
    margin: 0px 1px;
    font-size: 13px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 5px 3px;
    flex: 0;
}

h1{
    color: #333333;
}

.btn{
    background-color: #001F3F;
    color: white;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s;
}

.auth{
    width: 100%;
    padding: 10px 0;
    margin: 5x 0;

}


.input-container:hover{
    border-color: #0074D9;
    outline: 0;

}

button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0.8;
}



.form-group{
    padding: 5px;
    margin: 10px 0;
}
